body{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;

}
.thor{
	   margin: 0 auto;
	   background-color: #006FFF;
	   width: 90%;


}

h1{
	color: white;
	text-align: left;
	letter-spacing: 0px;
	font-family: Etna, sans serif;
	font-weight: bold;
	margin-top: 198px;
	margin-left: 109px;
	z-index: -1;
	}
p{
	color: white;
	font-size: 20px;
	font-family: Brandon Grotesque;
	margin-left: 109px;
	margin-top: 73px;
	margin-bottom: 73px;
	z-index: -1;


}
button{
	border-style: none;
	background-color: white;
	border-radius: 40px;
	padding: 25px 160px;
	margin-left:109px;
	overflow: auto;
	z-index: -1;
}

a{
	text-decoration: none;
	border-radius: 40px;
	font-size: 16px;
	background-color: white;
	color: #006EFE;
	overflow: auto;

}
a:hover{
	text-decoration: none;
}
img{
	max-width: : 90%;
	height: auto;
}
.image{
	max-height: 100vh;
    max-width: auto;
    z-index: 1;
}